body{
  font-family: Arial, sans-serif;
  line-height: 1.6;
  width: 100%;
    height: 100vh; 
  background:linear-gradient(4deg, rgba(36,36,0,1) 9%, rgba(155,41,141,1) 35%, rgba(20,0,255,1) 87%);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container{

background-color: white;
height: 80vh;
width:50vw;
display:flex;
flex-direction: column;
margin-top: 10%;
}

.container h1{
justify-content: center;
align-self: center;
}
.ques_box{
  margin: 5%;
  border-radius: 5%;
  width:40vw;
  height: 57vh;
background-color: wheat;
font-size: 0.8rem;
align-self: center;
overflow: hidden;
}

.ques_no{
  margin-left: 5%;
  margin-bottom: 1%;
}

.current_ques{
  color: rgb(161, 113, 50);
  font-size: 1.5rem;
}

.total_ques{
  color:gray;
}

.ques_detail{
  width:90%;
 position: relative;
 left: 20px;
 bottom: 20px;
 font-size: 1.7em;
}


.option{
  list-style: none;
  cursor: pointer;
  width:80%;
  border: 1px solid black;
  margin: 6px;
  font-size: 1rem;
border-radius:20px ;
  position: relative;
  bottom: 20px;
  padding-left: 10px;
  padding-top: 7px;
  height: 2rem;
}

.option:hover{
  background-color:black;
  color: white;
  border: white
}


.option_selected{
  cursor: pointer;
  background-color: lightgreen;
  border:white;

}

.btn{
  position: relative;
  left:40vw;
  width: 5vw;
  bottom: 4vh;
  background-color:  rgba(20, 135, 135,50%);
  border: none;
  height: 5vh;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.notsel_option{
  background-color: rgba(20, 135, 135,20%);
}

.try_btn{
  background-color: rgba(20, 135, 135,90%);
  position: relative;
  top:7vh;
  left: 17vw;
  width: 8vw;
}
.result_box{
  background-color: rgb(239, 231, 231);
  justify-content: center;
  width:300px;
  position:relative;
  top:80px;
  height: auto;
  border-radius: 30px;
}

.result_box h1{
  position: relative;
  left : 80px;
  top:10px
}

.stats{
  display: flex;
  flex-direction: column;
}

.stats span {
  margin:10px;
  margin-left: 20px;
}

.stats span span {
  font-size: 1.5rem;
  color: brown;
}

@media screen and (max-width:1024px) {

  .container{
    height: auto;
    margin-top: 20%;
  }

  .container h1{
margin-bottom: 3%;
  }
 
  .btn{
    width: 9vw;
    bottom: 1vh;
    height: 5vh;
    border-radius: 15px;
    font-weight: bold;
  }
  .try_btn{
    background-color: rgba(20, 135, 135,90%);
    position: relative;
    top:7vh;
    left: 17vw;
    width:auto;
  }
  .ques_box{
    margin: 4%;
    border-radius: 5%;
    width:40vw;
    height: 50vh;
  background-color: wheat;
  font-size: 0.6rem;
  align-self: center;
  overflow: hidden;
  }

  
.ques_no{
  margin-left: 5%;
  margin-bottom: 4%;
}

.current_ques{
  color: rgb(161, 113, 50);
  font-size: 1.2rem;
}

.option{
  font-size: 0.9rem;
}
}

@media screen and (max-width:500px) {

  .container{
    height: auto;
    position: relative;
 top:20vh;
  }

  .container h1{
    font-size: 0.8rem;
margin-bottom: 3%;
  }
 
  .current_ques{
    font-size: 0.9rem;
  }

  .btn{
    width: 12vw;
    bottom: 0.7vh;
    height: 3vh;
    left:36vw;
    border-radius: 15px;
    font-weight: bold;
  }
  .try_btn{
    background-color: rgba(20, 135, 135,90%);
    position: relative;
    top:7vh;
    left: 60vw;
    width:auto;
  }
  .ques_box{
    margin: 4%;
    border-radius: 5%;
    width:40vw;
  height: auto;
  background-color: wheat;
  font-size: 0.38rem;
  align-self: center;
  }

  
.ques_no{
  margin-left: 5%;
  margin-bottom: 4%;
}

.current_ques{
  color: rgb(161, 113, 50);
  font-size: 1.2rem;
}

.option{
  position: relative;
  font-size: 0.6rem;
  height: auto;
  left: -30px;
}
}

